@import "../../../constants.scss";

.post {
    background-color: $darkerBackground;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc((80vw - 10em) / 3);
    height: 32vw;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 1em;
    border-radius: 10px;

    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
    
    h2 {
      font-size: $mobile-subtitle-font-size;
        line-height: $mobile-subtitle-line-height;
        margin: 0;
    }
    div.post-info {
        font-size: $mobile-subtitle-font-size;
        line-height: $mobile-subtitle-line-height;
    }
    button {
        background-color: $darkerBackground;
        border: 0;
    }
    p {
        margin: 0;
    }
}